.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

body,
h1, h2, h3, h4, h5 {
  color: #FF1944;
  font-family: 'Roboto Slab', 'Arimo', sans-serif;
}

.title {
  display: none;
}

nav {
    background-color: #005B7F;
    width: 100%;
    padding: 5px;
    position: fixed;
    z-index: 1;
    min-height: 66px;
}

nav ul {
  float: right;
  }

nav ul li {
  list-style: none;
  display: inline-block;
  color: #ffffff;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 27px 15px;
}

.active {
  background-color: #98C6D9;
}

.back_to_top {
  float: left;
  padding: 20px;
  display: none;
}

.logo_container {
  float: left;
  width: 280px;
  margin-top: 70px;
}

main {
  width: 100px;
  position: relative;
  float: left;
  margin: 50px 0 0 20px;
}

aside {
  display: inline-block;
  font-family: 'Roboto Slab', 'Arimo', sans-serif;
  color: #FF1944;
  font-size: 36px;
  width: 140px;
  margin: 95px 0 0;
  float: right;
}
.antenna {
  width: 6px;
  height: 30px;
  background-color: #FF1944;
  border-radius: 5px;
  margin: -5px 30px 0 64px;
  border-bottom: 7px solid #005B7F;
}
.antenna-dot {
  width: 8px;
  height: 8px;
  background-color: #FF1944;
  border-radius: 10px;
  margin: -5px 31px 0 63px;
}
.head, .neck {
  width: 100px;
  background-color: #318DB2;
  height: 50px;
  border-radius: 10px 10px 0 0;
  margin-top: -5px;
  border-bottom: 3px solid #005B7F;
}
.l_eye, .r_eye {
  width: 15px;
  border-radius: 10px;
  height: 15px;
  background-color: #fff;
  float: left;
  margin-top: 15px;
  margin-left: 20px;
}
.r_eye {
  margin-right: 20px;
  float: right;
}
/*.mouth {
  width: 15px;
  height: 4px;
  background-color: #fff;
  margin: auto;
  border-radius: 3px;
  clear: both;
  margin-top: 10px;
}*/
.neck {
  width: 50px;
  margin: auto;
  height: 6px;
  margin-top: 2px;
  border-radius: 10px;
  background-color: #318DB2;
  border: none;
}

.l_hand, .r_hand {
  width: 20px;
  height: 20px;
  background-color: #005B7F;
  float: left;
  border-radius: 3px;
  position: relative;
}

.r_hand {
  float: right;
}

.hand_fingers {
  background-color: #318DB2;
  width: 8px;
  height: 22px;
  border-radius: 3px;
  float: left;
  padding: 1px;
  position: absolute;
}

.r_hand .hand_fingers {
  right: 0;
}

.hand_thumb {
  float: right;
  background-color: #318DB2;
  width: 4px;
  height: 20px;
  border-radius: 3px;
}

.r_hand  .hand_thumb {
  float: left;
}

.bot_body {
  background-color: #318DB2;
  height: 30px;
  width: 50px;
  margin: 2px 0 0 5px;
  border-radius: 3px;
  float: left;
}

.intro h2 {
  float: right;
  margin-left: 20px;
  padding-top: 20px;
}

hr {
  color: #005B7F;
  height: 2px;
  background-color: #005B7F;
  border: none;
  margin: 0;
}

#section-1 {
  background-color: #005B7F;
  width: 100%;
  padding: 25px 20px;
}

#section-1 h4, #section-1 h3, #section-1 h2 {
  color: #ffffff;
}

#section-1 h4 {
  font-family: 'Arimo', sans-serif;
  line-height: 1.3em;
}

#section-2 {
  margin-bottom: 40px;
}

#section-2 h2 {
  font-family: 'Permanent Marker';
  font-size: 36px;
  float: right;
}

.team_photo_wrapper {
  clear: both;
}

.team_photo, .project_photo {
  overflow: hidden;
  padding: 40px;
  padding-top: 0px;
  margin: auto;
  text-align: center;
  background-color: #444444;
  margin-top: 30px;
  position: relative;
    transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.team_photo img, .team_photo_hov {
  width: 100%;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.team_photo img:hover {
  opacity: 0;
}

.team_photo_hov {
  visibility: hidden;
  background-color: rgba(49, 141, 178, 0);
  position: absolute;
  top: 56px;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.team_text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.team_text p,
.team_text h3 {
  opacity: 0;
    transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.team_photo:hover .team_text p,
.team_photo:hover .team_text h3 {
  opacity: 1;
}

.team_text_more {
  display: none;
  margin: 20px;
  color: #005B7F;
  line-height: 1.3em;
}

.team_photo:hover .team_photo_hov {
    display: block;
    visibility: visible;
    background-color: rgba(49, 141, 178, 0.8);
}

#section-3 {
  margin-top: 20px;
  background-color: #98C6D9;
}

#section-3 h2 {
  font-family: 'Permanent Marker';
  color: #005B7F;
  font-size: 36px;
}

.projects {
  position: relative;
}

.project_photo {
  margin-top: 0;
  margin-bottom: 40px;
  background-color: #ffffff;
  padding-top: 40px;
}

.project_text {
  margin-bottom: 40px;
}

.project_text ul {
  padding: 0;
  font-size: 18px;
  margin-top: 0;
}

.project_text li {
  list-style: none;
  color: #ffffff;
  margin-bottom: 10px;
  font-family: 'Arimo', sans-serif;
  line-height: 1.3em;
}

.project_text span {
    color: #005B7F;
    text-transform: uppercase;
    font-family: 'Roboto Slab';
}

.project_text a {
    color: #FF1944;
    text-decoration: none;
    transition: 0.3s all linear;
    -webkit-transition: 0.3s all linear;
    -moz-transition: 0.3s all linear;
    -o-transition: 0.3s all linear;
}

.project_text li a:hover,
.project_text li a:focus {
  color: #318DB2;
}

#section-4 h2 {
  float: right;
  font-family: 'Permanent Marker';
  font-size: 36px;
}

#section-4 {
    color: #005B7F;
    line-height: 1.3em;
    margin-bottom: 40px;
}

#section-4 a {
   color: #FF1944;
   text-decoration: none;
}

#section-5 {
  background-color: #FF1944;
  padding-bottom: 40px;
  margin-bottom: 40px;}

#section-5 h2 {
  font-family: 'Permanent Marker';
  font-size: 36px;
  color:  #005B7F;
}

#section-5 h3 {
  color: #ffffff;
  line-height: 1.3em;
}

#section-5 a {
  color: #005B7F;
   text-decoration: none;
   transition: 0.3s all linear;
    -webkit-transition: 0.3s all linear;
    -moz-transition: 0.3s all linear;
    -o-transition: 0.3s all linear;
}

#section-5 a:hover,
#section-5 a:focus {
  color: #98C6D9;
}

footer {
  height: 60px;
  background-color:  #005B7F;
  color: #ffffff;
  text-align: right;
}

footer p {
  padding: 20px;
  font-size: 12px;
}

@media screen and (max-width: 768px) {

  .title {
    width: 60px;
    float: right;
    margin-right: 10px;
    display: block;
  }

  nav {
    padding: 0;
  }

  nav ul {
    width: 100%;
    padding: 0;
    margin: 0;
    display: none;
  }

  nav ul li {
    display: block;
    padding: 20px;
    text-align: right;
  }

   nav ul li:nth-child(odd) {
    background-color: #98C6D9;
  }

  .active {
    color: #FF1944;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
  }

  .team_text_more {
    display: block;
  }

  .team_photo_hov {
    display: none;
  }

  .team_photo img:hover {
    opacity: 1;
  }

  .team_photo:hover .team_photo_hov {
    visibility: none;
    background-color: rgba(49, 141, 178, 0.8);
}
}